
<div id="project-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Add a New Project</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <%= form_for :project, remote: true do |f| %>
        <div class="form-group">
          <%= f.label :title, "Project Title:", class: "col-md-4 control-label" %> 
        </div>
        <div class="col-md-6">
          <%= f.text_field :tittle, class: "form-control" %>
        </div><br>
        <div class="col-md-6">
          <%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
        </div><br>
      <% end %>
    </div>
  </div>
</div>