<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th>Title</th>
            <th></th>
            <th></th>
            <th></th>
            </tr>
        </thead>
    <tbody> 
    <% projects.each do |project| %>
    <tr>
    <td><%= project.tittle %></td>
    <td><%= link_to 'Show', project_path(project) %></td>
    <td><%= link_to "Edit", edit_project_path(project), :class => "btn", :remote => true, "data-toggle" => "modal", "data-target" => "edit-modal" %></td>
    <td><%= link_to 'Destroy', project_path(project), remote: true,
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
    <% end %>
    </tbody>
  </table>
</div>