<div class="container">
  <h2>Listing Projects</h2>
  <p>This is the list of projects you have</p>
  <div id="project-table"> <%=render partial: 'projects/projects_table', locals: {projects: @projects}%></div>
  <div><%= render 'projects/form'%></div>
</div>